@font-face {
    font-family: 'Sora';
    src: url('fonts/Sora.ttf');
}
@font-face {
    font-family: 'Sora-SemiBold';
    src: url('fonts/Sora-SemiBold.ttf');
}
@font-face {
    font-family: 'Sora ExtraBold';
    src: url('fonts/Sora-ExtraBold.ttf');
}
.text-field {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
    -fx-text-fill: #fef9e8;
}
.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-text-fill: #efe9e8;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}